* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(66, 65, 65);
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
button {
  display: block;
  color: rgb(66, 65, 65);
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
  height: 40px;
  width: auto;
  margin: 0 auto;
}

button:hover {
  margin: auto;
  cursor: pointer;
  transform: scale(1.1);
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

.colorbutton {
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
}

.shopping-mall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* Menu */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-menu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shopping-menu-item {
  margin-right: 15px;
}
.shopping-menu-item:last-child {
  margin-right: 0px;
}

.shopping-menu-item img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.shopping-menu-item .blue-button {
  background-color: rgb(148, 198, 210);
}

.shopping-menu-item .yellow-button {
  background-color: rgb(236, 236, 37);
}
.shopping-menu-item .pink-button {
  background-color: rgb(251, 166, 180);
}

/* Product list */

.shopping-items {
  width: 50%;
  height: 50%;
  padding: 10px 0;
}

.shopping-item {
  background-color: #fff;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: start;
  align-items: center;
}

.item-image {
  display: block;
  height: 100%;
  width: auto;
  margin-right: 15px;
}

.item-desc {
  display: inline-block;
}
