:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #fff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-black);
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

button {
  border: none;
  background-color: transparent;
  transition: transform var(--animation-duration) ease-in-out;
  padding: 0;
}

button:hover,
.shopping-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

.shopping-mall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--base-space);
  height: 100vh;
}

.shopping-logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.colorbutton {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

/* Menu */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-border);
}

.shopping-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-menu-item {
  margin-right: var(--base-space);
}
.shopping-menu-item:last-child {
  margin-right: 0px;
}

.shopping-menu-item img {
  display: block;
  width: var(--size-button);
  height: var(--size-button);
}

.shopping-menu-item .blue-button {
  background-color: var(--color-blue);
}

.shopping-menu-item .yellow-button {
  background-color: var(--color-yellow);
}
.shopping-menu-item .pink-button {
  background-color: var(--color-pink);
}

/* Product list */

.shopping-items {
  width: 50%;
  height: 50%;
  padding: 0;
  overflow-y: scroll;
}

.shopping-item {
  background-color: var(--color-white);
  border-radius: var(--size-border);
  padding: var(--base-space);
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
}

.item-image {
  height: var(--size-thumbnail);
  width: var(--size-thumbnail);
  margin-right: var(--base-space);
}

.item-desc {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
