body {
  background-color: black;
  margin: 0;
}
div {
  background-color: #fff;
}

.target {
  position: absolute;
}
.coordinates {
  position: absolute;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  margin: 30px;
}

.vertical {
  position: absolute;
  height: 100%;
  width: 2px;
}
.horizontal {
  position: absolute;
  height: 2px;
  width: 100%;
}
