* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-twitter: #1da1f2;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
}

.range_check {
  background-color: lightcoral;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* Reset CSS*/
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', sans-serif;
  border: none;
  background: inherit;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

dt {
  display: none;
}

.left_side header {
  position: fixed;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: conter;
  width: 47px;
  height: 47px;
}

.logo img {
  display: block;
  width: auto;
  height: 30px;
}

.logo:hover,
.nav_item:hover {
  cursor: pointer;
}

.logo:hover > .left_side_button,
.nav_item:hover > .left_side_button {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
  color: rgba(29, 161, 242, 1);
  transition-duration: 0.2s;
}

.nav_item {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.nav_menu {
  margin-bottom: 10px;
}

.left_side_button {
  height: 46.25px;
  padding: 10px;
}

.nav_item_image {
  margin-right: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav_item a {
  font-size: 19px;
  font-weight: 700;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.nav_item img {
  width: 26.25px;
  height: 26.25px;
}

.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(./img/chaeeun.JPG);
  background-size: 100% auto;
  margin-right: 11px;
}

.left_side_tweet {
  height: 50px;
  width: 200px;
  font-size: 15px;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 100px;
  font-weight: 700;
}

.left_side_tweet:hover {
  background-color: rgba(25, 138, 209, 1);
  transition-duration: 0.2s;
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
}

.profile {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.profile:hover > .profile_button {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
  transition-duration: 0.2s;
}

.profile_button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.more_button {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 10px;
}

.profile_text {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  font-size: 15px;
}

.id {
  color: #6e767d;
  font-size: 15px;
}
/* main */

.main {
  border: 1px solid #c4c4c4;
  border-bottom: none;
  width: 100%;
  height: 100%;
}

.home_header {
  border-bottom: 1px solid #c4c4c4;
}

.main_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header::after {
  width: 100%;
  height: 10px;
  background-color: #f6f8fa;
}

.main_home {
  font-size: 19px;
  font-weight: 700;
  padding: 15px 0;
}

.toptweets {
  margin-right: 9px;
}

.toptweets img {
  width: 24px;
  height: 24px;
}

.tweet {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  box-shadow: 0px 10px 0px #e7ecf0;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.tweet_form {
  display: flex;
  flex-direction: column;
}
.tweet_form_bottom {
  display: flex;
  justify-content: space-between;
}
.reply_select {
  color: rgba(29, 161, 242, 1);
  background-color: #ccc;
  padding: 0 5px;
}
.reply_select::before {
  content: '';
  background-image: url(./img/worldwide.svg);
  background-size: 19.5px;
  margin-right: 6.5px;
  width: 19.5px;
  height: 19.5px;
  display: inline-block;
}

.tweet_form_imgs input {
  display: none;
}
.tweet_form_imgs img,
.tweet_form_imgs label {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.tweet_message {
  resize: vertical;
  width: 100%;
  font-size: 19px;
}

.tweet_submit {
  width: 80px;
  background-color: rgba(29, 161, 242, 1);
  color: #fff;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 700;
}

.timeline {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.timeline_tweet {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.main_tweet {
  width: 100%;
}

.tweet_content {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.tweet_img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-image: url(./img/chaeeun.JPG);
  background-size: 100% auto;
  margin-right: 10px;
}

.tweet_name {
  font-size: 15px;
  margin-right: 5px;
}

.tweet_name:hover {
  text-decoration: underline;
}

.tweet_info {
  color: #828282;
  display: flex;
  font-size: 15px;
}

.tweet_id {
  margin-right: 5px;
}

.tweet_date::before {
  content: '·';
  margin-right: 5px;
}

.tweet_more_button {
  position: absolute;
  right: 10px;
}

.tweet_more_button img {
  height: 18.75px;
  width: 18.75px;
}

.tweet_more_button:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
  color: rgba(29, 161, 242, 1);
  transition-duration: 0.2s;
}
.tweet_more_button img {
  width: 18.5px;
  height: 18.5px;
  right: 10px;
}

.tweet_bottom_btns {
  width: 425px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom_btn {
  display: flex;
  padding: 0px;
  align-items: center;
}

.bottom_btn strong {
  font-size: 400;
}

.tweet_bottom_btns strong {
  padding: 0px 10px;
}

.bottom_btn_img {
  width: 34.75px;
  height: 34.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_btn img {
  width: 18.75px;
  height: 18.75px;
}

.bottom_btn:hover > .bottom_btn_img {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 100px;
  transition-duration: 0.2s;
}

.retweet_btn:hover > .retweet_btn_img {
  background-color: rgba(29, 191, 99, 0.1);
}

.like_btn:hover > .like_btn_img {
  background-color: rgba(224, 36, 94, 0.1);
}

.bottom_btn:hover > .bottom_btn strong {
  color: rgba(29, 161, 242, 1);
}

.retweet_btn:hover > .retweet_btn strong {
  color: rgba(29, 191, 99, 1);
}

.like_btn:hover > .like_btn sgrong {
  color: rgba(224, 36, 94, 1);
}

/* aside */
.twitter_search {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e7ecf0;
  border-radius: 40px;
}

.search_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 38px;
}

.search_img img {
  width: 15.43px;
  height: 15.43px;
}

.twitter_search input {
  padding: 10px;
  width: 100%;
  font-size: 15px;
}
